<p class="welcome"> Want do you want to play?</p>
<%= simple_form_for :user, url:users_path, remote: true do |form| %>
  <div class="row">
    <div class="small-12 columns">
      <div id="notice">
        <p><%= form.error_notification %></p>
        <%= render :partial => 'layouts/flash' , :locals => {:flash => flash } %>
      </div>
    </div>
  </div>
  <div class="row collapse">
  	<div class="small-2 columns">
  		<span class="prefix"><i class="fi-die-six"></i></span>
  	</div>
    <div class="small-10 columns ">
		<%= form.select :game, options_for_select([ "Which game?", "League of Legends", "StarCraft 2" , "Battlefield 4" ], "Which game?") %>
    </div>
  </div>		
  <div class="row collapse">
    <div class="small-2  columns">
      <span class="prefix"><i class="fi-torso-female"></i></span>
    </div>
    <div class="small-10  columns">

		<%= form.text_field :nick, placeholder: 'Nickname' %>

    </div>
  </div>
  <div class="row collapse">
    <div class="small-2 columns">
      <span class="prefix"><i class="fi-mail"></i></span>
    </div>
    <div class="small-10  columns">
		<%= form.text_field :email, placeholder: 'E-mail' %>
    </div>
  </div>

<%= form.submit 'Sign up!', class: 'button' %>

<% end %>