<h1>New User</h1>

<%= form_for :user, url:users_path do |f| %>
  <p>
    <%= f.label :game %><br>
	<%= f.select :game, options_for_select([ "What game do you want to play?", "League of Legends", "StarCraft 2" , "Battlefield 4" ], "What game do you want to play?") %>
  </p>
 
  <p>
    <%= f.label :nick %><br>
    <%= f.text_field :nick %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'See all users', users_path %>