<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Battle of the Bureaus" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class="fixed">

    <%= render 'layouts/navigation' %>

    </header>


    <!-- Hero Section -->
    <section id="hero">
      
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h1>Battle of the Bureaus</h1>
          <h3>Duella Europae</h3>

          <!-- Description -->
          <p class="lead">Let the battles of the office grounds begin!</p>

          <!-- Anchor Button -->
          <p><a class="button alert radius" href="#about">Sign up!</a></p>

        </div> <!-- /.medium-8 .medium-centered .columns -->
        
      </div> <!-- /.row -->

    </section> <!-- /#hero -->


    <!-- About Section -->
    <section class="intro-section" id="intro">
      
      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">
          
          <!-- Title -->
          <h2>We want you to fight!</h2>
          <div class="line"></div>

          <!-- Content -->
          <p>Fight against your friends and colleagues, fight with them against others all over Europe.</p>
          <p>Just let us know what kind of game you're playing, and how other players can contact you in game.</p>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->


      <section class="signup-section">
        
        <div class="row">

          <div id="signup-form-container">

            <%= yield %>
            
          </div>

        </div> <!-- /.row -->

      </section> <!-- /.signup -->

    </section> <!-- /.intro-section -->

    <!-- Features Section -->
    <section class="about-section" id="about">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">
          
          <!-- Title -->
          <h2>About Battle of the Bureaus</h2>
          <div class="line"></div>

          <!-- Description -->
          <p class="lead">We're profesional, we play games - but we don't play games professionally.</p>

          <p>And neither do you, probably.</p>

          <p>But that doesn't mean we can't compete with and against our colleagues.</p>

          <p>Battle of the Bureaus aims to create a platform to do just that. We want to put you in contact with other people playing videogames with their colloeagues all over Europe, and eventually arrange tournaments for you to compete in.</p>

          <p>Kind regards, the joint chiefs of staff.</p>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->

    </section> <!-- /.features-section -->

    <!-- Challengers -->
    <section class="challengers-section" id="challengers">
      
      <!-- Title -->
      <div class="row">
        <div class="medium-8 medium-centered columns text-center">


          <h2>Meet the Challengers</h2>
          <div class="line"></div>

        </div> 

      </div> <!-- /.row -->


      <!-- First Columns -->
      <div class="row">
          
        <div class="medium-4 columns">
          
          <div class="col-work text-center">
            
            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <%= image_tag "tonsser.jpg" %>
            </a>

            <!-- Title -->
            <h4>Tonsser</h4>

            <!-- Description -->
            <p>They're a startup working out of Copenhagen. They want to create the new home of football, but more importantly, they want to beat your team in FIFA.</p>

          </div>
          
        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
          
          <div class="col-work text-center">
          
            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <%= image_tag "dice.jpg" %>
            </a>

            <!-- Title -->
            <h4>DICE</h4>

            <!-- Description -->
            <p>As a part of EA they are the people behind a small game called Battlefield. Do you dare challenge them at their own game?</p>

          </div> <!-- /.col-work -->
          
        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
          
          <div class="col-work text-center">
          
            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              
              <%= image_tag "Eurogamer.jpg" %>
            </a>

            <!-- Title -->
            <h4>Eurogamer.net</h4>

            <!-- Description -->
            <p>Based in Brighton, they write about videogames. They'll play anything, but they're here to challenge your team in Hearthstone: Heroes of Warcraft.</p>

          </div> <!-- /.col-work -->
          
        </div> <!-- /.medium-4 .columns -->

      </div> <!-- /.row -->

    </section>

           <!-- Team Section -->
    <section class="team-section" id="team">

      <!-- Title -->
      <div class="row">
        
        <div class="medium-9 medium-centered columns text-center">

          <!-- Title -->
          <h2>Meet the team</h2>
          <div class="line"></div>

          <!-- Content -->
          <!--p></p -->

        </div> <!-- /.medium-9 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Team Wrapped -->
      <section class="team-wrapped">

        <div class="row">

          <div class="medium-4 columns">
            
            <div class="col-team text-center">
              
              <!-- Images Team -->
              
              <%= image_tag "jaha.jpg" %>

              <!-- Title Name -->
              <h4>Janus Hasseriis</h4>
              <h6>Founder</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">
            
            <div class="col-team text-center">
              
              <!-- Images Team -->
              
              <%= image_tag "chna.jpg" %>

              <!-- Title Name -->
              <h4>Christian Nyhus Andreasen</h4>
              <h6>Co-founder</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">
            
            <div class="col-team text-center">
              
              <!-- Images Team -->
              
              <%= image_tag "rakj.jpg" %>

              <!-- Title Name -->
              <h4>Rasmus Koefoed-Jespersen</h4>
              <h6>Co-founder</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->
          
        </div> <!-- /.row -->
        
      </section> <!-- /.team-wrapped -->


      <!-- Anchor Button -->
      <!--p class="margin-top"><a class="button alert radius" href="#contact">Contact us</a></p -->
      
    </section> <!-- /.team-section -->

      <%= render 'layouts/footer' %>

  </body>
</html>