<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Battle of the Bureaus" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class="fixed">

      <%= render 'layouts/navigation' %>

    </header>


    <!-- Hero Section -->
    <section id="hero">

      <div class="row">

        <div class="large-6 large-offset-6 columns">

          <!-- Title -->
          <h1>Battle of the Bureaus</h1>
          <h3>FIFA 14 company tournament</h3>

          <!-- Description -->
          <p class="lead">Join the upcoming FIFA 14 tournament. It's free!</p>

          <!-- Anchor Button -->
          <p><a class="button radius" href="#intro">Sign up!</a></p>

        </div> <!-- /.columns -->

      </div> <!-- /.row -->

    </section> <!-- /#hero -->


    <!-- Intro Section -->
    <section class="intro-section" id="intro">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">

          <!-- Title -->
          <h2>The tournament</h2>
          <div class="line"></div>

          <!-- Content -->
          <h3>Tournament format:</h3>
          <p>Company Teams only. 3 players minimum per team.</p>
          <p>Two fixed tournament days. Scores must be reported right after the games.</p>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->


      <section class="signup-section" id="signup">

        <div class="row">

          <div id="signup-form-container">

            <%= yield %>

          </div>

        </div> <!-- /.row -->

      </section> <!-- /.signup -->

    </section> <!-- /.intro-section -->

    <!-- About Section -->
    <section class="about-section" id="about">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">

          <!-- Title -->
          <h2>About</h2>
          <div class="line"></div>

          <!-- Description -->
          <p class="lead">Battle of the Bureaus is about having a good time with colleagues while
playing to win!</p>

          <p>We believe in great teams. Fair play. And that online gaming can be
social.</p>
        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->

    </section> <!-- /.features-section -->

    <%#= render 'shared/challengers' %>

           <!-- Team Section -->
    <section class="team-section" id="team">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">

          <!-- Title -->
          <h2>Meet the team</h2>
          <div class="line"></div>

          <!-- Content -->
          <!--p></p -->

        </div> <!-- /.medium-9 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Team Wrapped -->
      <section class="team-wrapped">

        <div class="row">

          <div class="medium-4 medium-centered columns">

            <div class="col-team text-center">

              <!-- Images Team -->

              <%= image_tag "jaha.jpg" %>

              <!-- Title Name -->
              <h4>Janus Hasseriis</h4>
              <h6>Founder</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="https://www.facebook.com/floede"></a></li>
                <li><a class="fi-social-twitter" href="https://twitter.com/floede"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

        </div> <!-- /.row -->

      </section> <!-- /.team-wrapped -->


      <!-- Anchor Button -->
      <!--p class="margin-top"><a class="button alert radius" href="#contact">Contact us</a></p -->

    </section> <!-- /.team-section -->

      <%= render 'layouts/footer' %>

  </body>
</html>
